body{
    background: black;
    color: white;
}
#header{
    display: flex;
    border-bottom: 2px solid #52565A;
}
#navbar{
    position: fixed;
    right: 2em;
    float: right;
}
#navbar>ul{
    display: flex;
    list-style-type: none;
}
#navbar>ul>li{
    margin: 0.2em;
}
#navbar>ul>li>a>button{
    font-size: 12px;
    padding: 0.2em 1em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: transparent;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
#navbar>ul>li>a>button:before {
    content: "";
    background: linear-gradient(
            45deg,
            #eaf6f2,
            #e0f1ec,
            #bfe2d7,
            #31a07d,
            #2c9071,
            #278064,
            #25785e,
            #1d604b,
            #164838
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 1s ease-in;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

#navbar>ul>li>a>button:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}
#navbar>ul>li>a>button:hover {
    background-color: #31a07d;
    box-shadow: #31a07d 0 -6px 8px inset;
    transform: scale(0.8);
}

#picture{
    position: absolute;
    top: -80px;
    right: 0px;
}

#left-side{
    margin-left: 50px;
}

#left-side>h1{
    font-family: 'Abril Fatface', Serif;
    font-size: 86px;
    font-weight: lighter;
    color: #B4B6B7;
    position: relative;
}

#welcome-text{
    top: 20px;
}

#other-text{
    top: -80px;
    left: 125px;
}

#intro-des{
    font-family: 'Nunit', Serif;
    font-size: 20px;
    font-weight: normal;
    width: 600px;

    position: relative;
    top: -110px;
    left: 50px;
}
#home-section-btns{
    display: flex;
    position: relative;
    top: -80px;
    left: 120px;
}

#home-section-btns>button{
    margin: 0 20px 0 0;
}

#hire-me-btn{
    width: 170px;
    background: transparent;
    color: #FFFFFF;
    border: 3px solid #25785E;
    border-radius: 15px;
    font-family: 'poppins', Serif;
    font-weight: lighter;
}

#download-cv-btn{
    width: 170px;
    height: 40px;
    background: #25785E;
    color: #FFFFFF;
    border: 3px solid #25785E;
    border-radius: 10px;
    font-family: 'poppins', Serif;
    font-weight: bold;
}


