:root{
    --main-green-color: #25785E;
    --font-color: #d9f0fe;
    --font-color-2: #FFFFFF;
    --bg-color: black;
}
body{
    margin: 0;
    /*background-color:  var(--bg-color);*/
    overflow-x: hidden;
    color: white;
}
html{
    overflow-x: hidden;
}
img[name="icon"]{
    cursor: pointer;
}
button{
    cursor: pointer;
}
html, body {
    /*height: 100%;*/
    /*max-width: 100%;*/
    /*margin: 0;*/
    /*!*overflow-x: hidden;*!*/
    background: black;
    /*background-size: cover;*/
    /*image-rendering: pixelated;*/
    /*font-family: sans-serif;*/
}
#space{
    position: fixed;
    z-index: 0;
}
#page-header-blur{
    width: 100%;
    height: 9vh;
    position: fixed;
    top: -1vh;
    z-index: -1;
    background-color: var(--bg-color);
    filter: blur(4px);
}
#header{
    width: 100%;
    height: 8vh;
    position: fixed;
    top: 0;
    display: flex;
    background: transparent;
    align-items: center;
    z-index: 2;
}
#logo{
    width: 3vw;
    position: absolute;
    left: 1vw;
}
#nav-bar{
    position: absolute;
    right: 1vw;
}
.menu-icon{
    width: 5vw;
    aspect-ratio: 1/1;
    position: absolute;
    right: 5vw;
    display: none;
    cursor: pointer;
}
.nav-btn{
    text-decoration: none;
    color: var(--font-color);
    margin: 0 5px 0 5px;

    font-size: 12px;
    padding: 0.2em 1em;
    border: none;
    outline: none;
    font-weight: bold;
    background: transparent;
    cursor: pointer;
    position: relative;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.nav-btn:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #b0e0fd;
    transform-origin: bottom;
    transition: transform 0.25s ease-out;
}
.nav-btn:hover{
    color: #b0e0fd;
}

.nav-btn:hover:after {
    transform: scaleX(1); /* Scale the underline on hover */
    transform-origin: bottom; /* Set transform origin */
}
#home-page{
    width: 100%;
    height: 91vh;
    border-width: 2px 0;
    border-color: #25785E;
    border-style: solid;
    /*position: relative;*/
    /*top: 8vh;*/
    display: grid;
    grid-template-columns: repeat(1, 65vw 30vw);
    /*background-color: red;*/
    /*z-index: 9;*/
}
#home-page-left-side{
    width: 63vw;
    height: 80vh;
    background-color: transparent;
    position: relative;
    top: 10vh;

    display: grid;
    grid-template-columns: 63vw;
    grid-template-rows: repeat(1, 14vh 18vh 26vh 11vh 10vh);
    /*align-items: start;*/
    justify-content: center;
}
#home-page-right-side{
    width: 37vw;
    height: 80vh;
    background-color: transparent;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 50px;
    right: 0;
}
.home-page-h1{
    width: fit-content;
    height: fit-content;
    position: relative;
    color: var(--font-color-2);

    align-self: center;
}
#welcome-text{
    font-size: 5.5vw;
    left: 6vw;
    width: 28vw;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid var(--main-green-color);
    animation: typing 3s steps(10, end), cursor 2s steps(10, end);
    animation-iteration-count: infinite;
}
@keyframes typing {
    from { width: 0 }
}
@keyframes cursor {
    50% { border-color: transparent }
}
#name-text{
    font-size: 6.5vw;
    left: 10vw;
    /*bottom: 8vh;*/
}
#home-desc{
    width: 29vw;
    font-size: 1.3vw;
    color: var(--font-color-2);
    position: relative;
    left: 6vw;
    /*top: 8vh;*/
}
#home-page-btns{
    display: flex;
    justify-content: center;
}
#home-page-btns>button{
    margin: 10px;
}
#hire-me-btn{
    width: 12vw;
    height: 6vh;
    font-size: 1vw;
    text-transform: uppercase;
    border: 4px solid var(--main-green-color) ;
    border-radius: 15px;
    background-color: transparent;
    color: var(--font-color-2);
    display: flex;
    align-items: center;
    justify-content: center;
}
#download-btn{
    width: 9vw;
    height: 6vh;
    font-size: 1vw;
    color: var(--font-color-2);
    background-color: var(--main-green-color);
    border: none;
    border-radius: 8px;
    font-weight: bold;
}
#home-page-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
#home-page-icons>img:nth-child(1){
    width: 9vh;
}
#home-page-icons>img:nth-child(2){
    width: 10vh;
}
#my-img{
    width: 400px;
    height: 450px;
    /*background-color: red;*/
    background-image: url("../assets/images/my-pic-desktop.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

/*runing bar css*/
.running-bar{
    width: 100%;
    height: 17vh;
    margin: 2vh 0;
    background-color: var(--main-green-color);
    position: relative;
    display: flex;
    justify-content: space-around;
    z-index: 1;
}
.runing-item{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.runing-item>p{
    font-size: 1.5em;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: var(--font-color-2);
}
#about-me-page{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
#education-section{
    height: 85vh;
}
.education-work-ex-btns{
    width: fit-content;
    height: fit-content;
    /*position: relative;*/
    /*left: 0;*/
    /*right: 0;*/
    /*margin: auto;*/
    align-self: center;
}
.education-page-btn{
    width: 200px;
    height: 63px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    font-family: "Poppins", monospace;
    /*font-optical-sizing: auto;*/
    font-weight: 700;
}
.edu-btn{
    background-color: var(--main-green-color);
    color: #FFFFFF;
}
.work-btn{
    background-color: #D9D9D9;
    color: black;
}
.card-set{
    display: flex;
    justify-content: space-around;
    height: 65vh;
    align-items: center;
}
.card{
    width: 22vw;
    height: 65vh;
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card>p{
    text-align: center;
    color: #FFFFFF;
    font-family: "Poppins", monospace;
    font-weight: 500;
}
#work-experience{
    height: 50vh;
    margin-top: 5vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    display: none;
}
#about-me-page-footer{
    width: 100%;
    height: 14vh;
    opacity: 0.6;
    background-color: #707876;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-width: 2px 0 ;
    border-style: solid;
    border-color: #B4B6B7;
    position: absolute;
    bottom: 0;
}
#about-me-page-footer > img:nth-child(1) #about-me-page-footer > img:nth-child(2){
    width: 70px;
}
#about-me-page-footer > img:nth-child(3) #about-me-page-footer > img:nth-child(4) #about-me-page-footer > img:nth-child(5) {
    width: 60px;
}
#skill-page{
    display: flex;
    justify-content: space-around;

}
.skill-grid{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 500px;
    align-items: center;
    justify-items: center;
}
.ball {
    animation: float 5.0s ease-in-out infinite;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin: 10px;
}
@keyframes float {
    0% {
        transform: translatey(0px);
    }
    25% {
        transform: translatey(-20px);
    }
    50% {
        transform: translatey(0px);
    }
    75% {
        transform: translatey(20px);
    }
    100% {
        transform: translatey(0px);
    }
}

.Am-img-slider-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

/*@media (min-width: 1200px) {*/
/* .Am-img-slider-container {*/
/* width: 80%;*/
/* margin: 25px auto;*/
/* }*/
/*}*/

.Am-img-slider-container .blog-slider .swiper-slide {
    width: 30%;
    height: 50vh;;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.Am-img-slider-container .blog-slider .swiper-slide.swiper-slide-active .blog-slider__content {
    position: relative;
    margin-left: 15px;
}

.Am-img-slider-container .blog-slider .swiper-slide.swiper-slide-active .blog-slider__content > * {
    opacity: 1;
    transform: none;
    transition: all 1.5s; /* Apply transition to all content elements */
}

/* Apply increasing transition delay to content elements */
.Am-img-slider-container .blog-slider .swiper-slide.swiper-slide-active .blog-slider__content > *:nth-child(n + 1) {
    transition-delay: calc(0.2s + (n * 0.1s)); /* Starts at 0.3s, increments by 0.1s */
}

.Am-img-slider-container .blog-slider .swiper-slide.swiper-slide-active .blog-slider__imgs img.movie-image {
    animation: 1.5s 1 imgAnime forwards; /* Use forwards to keep the final state */
    -webkit-animation: 1.5s 1 imgAnime forwards;
    opacity: 1;
}

/* Apply increasing transition delay to movie images */
.Am-img-slider-container .blog-slider .swiper-slide.swiper-slide-active .blog-slider__imgs img.movie-image:nth-child(n + 1) {
    transition-delay: calc(0.2s + (n * 0.1s)); /* Starts at 0.3s, increments by 0.1s */
}

.Am-img-slider-container .blog-slider .swiper-slide.swiper-slide-active .blog-slider__imgs .overly {
    opacity: 1;
    animation: 2s 1 playAnime forwards; /* Use forwards to keep the final state */
    -webkit-animation: 2s 1 playAnime forwards;
    display: block;
}

@keyframes playAnime {
    from {
        transform: translateY(100px);
    }
    50% {
        transform: translateY(-30px);
    }
    to {
        transform: translateY(0px);
    }
}

.Am-img-slider-container .blog-slider .swiper-slide.swiper-slide-active .blog-slider__imgs img.back-image {
    animation: 4.5s 1 backimgAnime forwards; /* Use forwards to keep the final state */
    -webkit-animation: 4.5s 1 backimgAnime forwards;
}

/* Apply increasing transition delay to back images */
.Am-img-slider-container .blog-slider .swiper-slide.swiper-slide-active .blog-slider__imgs img.back-image:nth-child(n + 1) {
    height: 50vh;
    transition-delay: calc(0.2s + (n * 0.1s)); /* Starts at 0.3s, increments by 0.1s */
}

@keyframes imgAnime {
    from {
        transform: translateX(-120px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
    }
}

@keyframes backimgAnime {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}

.Am-img-slider-container .blog-slider .swiper-slide .movie-image-container {
    position: relative;
    width: 150px;
    height: 200px;
}

.Am-img-slider-container .blog-slider .swiper-slide .movie-image-container div.overly {
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    display: none;
}

.Am-img-slider-container .blog-slider .swiper-slide .movie-image-container div.overly a {
    /*background-color:;*/
    width: 50px;
    height: 50px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: xx-large;
    color: white;
}

.Am-img-slider-container .blog-slider .swiper-slide .movie-image-container .movie-image {
    width: 100%;
    height: 100%;
    border-radius: 0px;
}

.Am-img-slider-container .blog-slider .swiper-slide .back-image {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 250px;
    object-fit: cover;
    filter: blur(3px) brightness(50%);
}

.Am-img-slider-container .blog-slider__content > * {
    opacity: 0;
    transform: translateX(100px);
    transition: all 1.5s;
}

.Am-img-slider-container .blog-slider__title {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.Am-img-slider-container .blog-slider__text {
    font-size: 0.9rem;
    line-height: 1.2em;
    color: #aaaaaa;
}
.blog-slider__text > a {
    color: #c5c4c4;
    text-decoration: none;
}

.Am-img-slider-container .blog-slider__rate {
    font-size: x-large;
    margin: 10px 0px;
    display: block;
    font-weight: 900;
    color: rgba(255, 217, 0, 0.4);
}

.Am-img-slider-container .blog-slider__img {
    opacity: 0;
}

@media all and (max-width: 1212px) {
    .Am-img-slider-container .blog-slider .swiper-slide {
        width: 35%;
    }
}

@media all and (max-width: 1070px) {
    .card-set > div:nth-child(1) > img {
        width: 9vw;
    }
    .card-set > div:nth-child(2) > img {
        width: 15vw;
    }
    .card-set > div:nth-child(3) > img {
        width: 15vw;
    }
    .card > p{
        font-size: 1.2vw;
    }
    #education-section{
        height: 60vh;
    }
    .education-page-btn {
        width: 18vw;
        height: 10vh;
        font-size: 1.5vw;
    }
    #about-me-page-footer{
        height: 12vh;
    }
    #about-me-page-footer > img:nth-child(1) #about-me-page-footer > img:nth-child(2){
        width: 70px;
    }
    #about-me-page-footer > img:nth-child(3) #about-me-page-footer > img:nth-child(4) #about-me-page-footer > img:nth-child(5) {
        width: 20px;
    }
    .skill-icon{
        width: 6vw;
    }
}

@media all and (max-width: 1029px) {
    .Am-img-slider-container .blog-slider .swiper-slide {
        width: 44%;
    }
}

@media all and (max-width: 817px) {
    .Am-img-slider-container .blog-slider .swiper-slide {
        width: 55%;
    }
}

@media all and (max-width: 1024px) and (min-width: 640px) {
    .nav-btn{
        margin: 0 2px 0 2px;
        font-size: 10px;
        padding: 0.1em 0.5em;
    }

    /*#home-page {*/
    /*    grid-template-columns: repeat(1, 62vw 33vw);*/
    /*}*/
    #home-page-left-side{
        top: 14vh;
        grid-template-rows: repeat(1, 12vh 13vh 32vh 11vh 10vh);
    }
    #home-page-right-side{
        width: 40vw;
    }
    #my-img{
        width: 100%;
        height: 100%;
        background-image: url("../assets/images/my-pic-tablet.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    #welcome-text{
        font-size: 5.5vw;
    }
    #name-text{
        font-size: 6vw;
    }
    #home-desc{
        font-size: 1.8vw;
    }
    #hire-me-btn{
        width: 15vw;
        height: 6.5vh;
        font-size: 1.4vw;
    }
    #download-btn{
        width: 12vw;
        height: 6vh;
        font-size: 1.3vw;
    }
    #home-page-icons{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #home-page-icons>img:first-child{
        width: 9vh;
    }
    #home-page-icons>img:nth-child(2){
        width: 10vh;
    }
    .card-set {
        height: 57vh;
    }
}
@media all and (max-width: 980px){
    .runing-item>p{
        font-size: 2vw;
    }
    #about-me-page-footer{
        height: 10vh;
    }
    #about-me-page-footer > img:nth-child(1) #about-me-page-footer > img:nth-child(2){
        width: 70px;
    }
    #about-me-page-footer > img:nth-child(3){
        width: 50px;
    }
    #about-me-page-footer > img:nth-child(4){
        width: 50px;
    }
    #about-me-page-footer > img:nth-child(5){
        width: 50px;
    }
    #education-section {
        height: 55vh;
    }
    #about-me-page {
        height: 77vh;
    }
}

@media all and (max-width: 915px) {
    .skill-grid{
        grid-template-columns: repeat(6, 1fr);
    }
    .skill-icon{
        width: 7vw;
    }
}

@media all and (max-width: 768px) {
    .running-bar {
        height: 13vh;
    }
    #education-section {
        height: 50vh;
    }
    #about-me-page {
        height: 71vh;
    }
    .card-set {
        height: 45vh;
    }
    .education-page-btn {
        width: 18vw;
        height: 8vh;
        font-size: 1.5vw;
    }
    #about-me-page {
        height: 67vh;
    }
    .skill-grid{
        grid-template-columns: repeat(5, 1fr);
    }
    .skill-icon{
        width: 8vw;
    }
}

@media all and (max-width: 1029px) {
    .Am-img-slider-container .blog-slider .swiper-slide {
        width: 60%;

    }
}

@media all and (max-width: 640px) {
    #nav-bar{
        display: none;
    }
    .menu-i   con{
        display: block;
    }
    #logo{
        width: 8vw;
        position: relative;
        left: 0;
        right: 0;
        margin: auto;
    }

    #home-page{
        height: 100vh;
        width: 100vw;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(1, 100vw);
        grid-template-rows: repeat(1, 61vh 39vh);
    }
    #home-page-left-side{
        grid-row: 1/2;

        width: 100vw;
        height: 61vh;
        background-color: transparent;
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #home-page-right-side{
        grid-row: 2/3;
        width: 100vw;
        height: 39vh;
        display: flex;
        justify-content: center;
        position: static;
    }
    #welcome-text{
        font-size: 7vw;
        position: absolute;
        left: 0;
        right: 0;
        top: 10vh;
        margin: auto;
    }
    #name-text{
        font-size: 8vw;
        position: absolute;
        left: 0;
        right: 0;
        top: 20vh;
        margin: auto;
    }
    #home-desc{
        width: 60vw;
        font-size: 1.8vw;
        position: absolute;
        left: 0;
        right: 0;
        top: 30vh;
        margin: auto;
    }
    #home-page-btns{
        position: absolute;
        left: 0;
        right: 0;
        top: 40vh;
        margin: auto;
    }
    #hire-me-btn{
        width: 15vw;
        height: 6.5vh;
        font-size: 1.4vw;
    }
    #download-btn{
        width: 12vw;
        height: 6vh;
        font-size: 1.3vw;
    }
    #home-page-icons{
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 50vh;
    }
    #my-img{
        width: 25%;
        height: 100%;
        background-image: url("../assets/images/my-pic-mobile.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    .running-bar{
        width: 100vw;
        height: 10vh;
        overflow: hidden;
    }
    .runing-item{
        width: fit-content;
        padding: 0 10vw;
    }
    .runing-item>img{
        width: 4vw;
    }
    .runing-item>p{
        width: 22vw;
        font-size: 2.4vw;
    }
    .card-set {
        height: 36vh;
    }
    #education-section {
        height: 30vh;
    }
    .card {
        height: 24vh;
    }
    #about-me-page {
        height: 55vh;
    }
    #education-section {
        height: 45vh;
    }
    .card > p {
        font-size: 1.5vw;
    }
    .skill-grid{
        grid-template-columns: repeat(4, 1fr);
    }
    .skill-icon{
        width: 9vw;
    }
}

@media all and (max-width: 600px) {
    .Am-img-slider-container .blog-slider .swiper-slide {
        width: 60%;
    }
    .Am-img-slider-container .blog-slider .swiper-slide .movie-image-container {
        width: 19VW;
        height: 30VH;
    }
    .Am-img-slider-container .blog-slider .swiper-slide.swiper-slide-active .blog-slider__content > p:nth-child(n + 1) {
        font-size: 0.8rem;
    }
}


@media all and (max-width: 560px) {
    #hire-me-btn{
        width: 22vw;
        font-size: 2vw;
    }
    #download-btn{
        width: 17vw;
        font-size: 2vw;
    }
    .education-page-btn {
        width: 20vw;
        height: 7vh;
        font-size: 1.8vw;
    }
    #about-me-page-footer {
        height: 7vh;
    }
    #about-me-page-footer > img:nth-child(1) {
        width: 11vw;
    }
    #about-me-page-footer > img:nth-child(2) {
        width: 11vw;
    }
    #about-me-page-footer > img:nth-child(3) {
        width: 6vw;
    }
    #about-me-page-footer > img:nth-child(4) {
        width: 6vw;
    }
    #about-me-page-footer > img:nth-child(5) {
        width: 6vw;
    }
    #about-me-page {
        height: 49vh;
    }
}

@media all and (max-width: 515px) {
    .skill-grid{
        grid-template-columns: repeat(3, 1fr);
        height: fit-content;
    }
    .skill-icon{
        width: 12vw;
    }
}

@media all and (max-width: 426px){
    #home-page{
        height: 100vh;
        grid-template-columns: repeat(1, 100vw);
        display: flex;
        justify-content: center;
    }
    #welcome-text{
        font-size: 9vw;
        width: 39vw;
    }
    #name-text {
        font-size: 10vw;
        top: 58vh;
    }
    #home-desc {
        font-size: 3.2vw;
        top: 67vh;
    }
    #hire-me-btn{
        width: 30vw;
        font-size: 2.5vw;
    }
    #home-page-btns {
        top: 80vh;
    }
    #home-page-icons {
        top: 90vh;
    }
    #download-btn{
        width: 25vw;
        font-size: 2.5vw;
    }
    #home-page-right-side {
        height: 35vh;
        background-color: transparent;
        position: absolute;
        top: 20vh;
    }
    #home-page-left-side {
        display: flex;
        justify-content: center;
        width: 100vw;
        height: 87vh;
    }
    #my-img{
        width: 37vw;
        height: 39vh;
        border-radius: 100%;
        background-position: center;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
    }
    .card-set {
        flex-direction: column;

        height: 53vh;
        margin-top: 2vh;
    }
    #about-me-page {
        height: 70vh;
    }
    #education-section {
        height: 64vh;
    }
    .card-set > div:nth-child(1) > img {
        width: 20vw;
    }
    .card-set > div:nth-child(2) > img {
        width: 25vw;
    }
    .card-set > div:nth-child(3) > img {
        width: 25vw;
    }
    .card {
        width: 57vw;
    }
    .education-page-btn {
        width: 25vw;
        height: 6vh;
        font-size: 2vw;
    }
    .card > p {
        font-size: 2vw;
    }
    #about-me-page-footer {
        border-width: 1px 0;
        height: 5vh;
    }
    #about-me-page-footer > img:nth-child(1) {
        width: 11vw;
    }
    #about-me-page-footer > img:nth-child(2) {
        width: 11vw;
    }
    #about-me-page-footer > img:nth-child(3) {
        width: 5vw;
    }
    #about-me-page-footer > img:nth-child(4) {
        width: 5vw;
    }
    #about-me-page-footer > img:nth-child(5) {
        width: 5vw;
    }
    .skill-grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .skill-icon{
        width: 15vw;
    }
}

@media all and (max-width: 415px) {
    .Am-img-slider-container {
        height: 65vh;
    }
    .swiper, swiper-container {
        height: 65vh;
    }
    .Am-img-slider-container .blog-slider .swiper-slide.swiper-slide-active .blog-slider__imgs img.back-image:nth-child(n + 1) {
        height: 65vh;
    }
    .blog-slider__imgs{
        display: flex;
        align-items: center;
    }
    .Am-img-slider-container .blog-slider .swiper-slide {
        height: 60%;
    }
    .Am-img-slider-container .blog-slider .swiper-slide.swiper-slide-active .blog-slider__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
